<div class="container"></div>
  <div class="row"></div>
    <div class="xol-xs-12 col-sm-offset-3"></div>

    <%= simple_form_for @review do |f| %>
      <%= f.input :content, placeholder: "Great Restaurant"%>
      <%=f.submit "Post your review", class: "btn btn-primary" %>
    <% end %>

</div>
  </div>
    <</div>
